<div class="ps-3 navbar color-navbar">
    <div class="container-fluid">
        <a class="navbar-brand title-sidebar" href="">
            <img src="img/logo_ciencias.png" alt="Logo" style="height: 40px;">
            MechRent S.A
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="excavadoras">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Excavadoras
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="obras-publicas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Obras Públicas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registros-de-trabajos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registros de Trabajos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregar-horas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Agregar Horas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="valor-horas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Valor de Horas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mantenimiento-proximo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mantenimientos P
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
